* {
  box-sizing: border-box;
}

:root {
  --grey:rgb(61, 62, 73, 1);
  --lightblue:rgb(107, 205, 212, 1);
  --lavender: rgb(191, 119, 219, 1);
  --darkpurple: rgb(62, 32, 73, 1);
  --lightpurple:rgb(232, 167, 255, 1);
  --pastelpurple: rgb(246, 223, 255);
  --yellow: rgb(215, 250, 150);
  --green: rgb(72, 223, 59, 1);
  --red: rgb(148, 28, 28, 1);
  --orange: rgb(226, 106, 8);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:var(--pastelpurple)
}



header {

  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--darkpurple);
}


header h1 {
  color: var(--darkpurple);
  background-color:var(--lightpurple);
  font-size: 3.6rem;
  font-weight: bold;
}

nav {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;

}

nav a {
  text-decoration: none;
  padding: 5px, 10px;
  color: var(--lightpurple);
  margin-right: 20px;
  background-image: linear-gradient(270deg, var(--pastelpurple) 0%, var(--pastelpurple) 0%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;

}

nav a:last-child {
  margin-right: 0;
  
}

nav a:hover {

  background-size: 100% 100%;
  color: var(--red);
}

.hero-banner {

  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color:var(--lightpurple);
  background-blend-mode: multiply;
  background-position: center;
  min-height: 30vh;
  color: var(--pastelpurple);
  padding:2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  
  }

.hero-banner div {

    flex: 0 0 90%;
  }

.hero-banner h2 {

  background-color: var(--darkpurple) ;
  color: var(--pastelpurple);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;

}

.page-wrapper {
  max-width: 80%;
  margin-left: 50px;
  margin-right: 50px;

}

.page-section {
 margin: 25px 0;
 padding: 5px 0;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: stretch;
 justify-content: space-between;

}


.page-section > h2{

  text-align: right;
  flex: 0 0 20%;
  padding: 10px;
  border-right-style: solid;
  border-right-color:var(--darkpurple);
  border-right-width: 5px;
  font-size: 30px;
  font-weight: bold;
  color: var(--darkpurple);
}

.page-section > div {
  flex: 0 0 70%;
}

.page-section p {
  margin-bottom: 30px;
}

.flex-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {

  border: 5px solid var(--lavender);
  background-color: var(--lavender);
  color: var(--darkpurple);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  font-size: 0.9rem;

}

.flex-item:first-child{
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.contact-details p {
  color: var(--darkpurple);
  padding: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style:italic;
  margin: 10px;

}

.contact-details p:hover {

color: var(--lightpurple);  
}


.surf-report {
  background-image: url(../images/02-portfolio-4.jpg);
}

.led-wall {
  background-image: url(../images/02-portfolio-1.jpg);
}

.calculator {

  background-image: url(../images/02-portfolio-2.jpg);
}

.pastel-puzzels {
  background-image: url(../images/02-portfolio-3.jpg);
}

.run-buddy {
  background-image: url(../images/02-run-buddy.jpg);
}


@media screen and (max-width: 1000px) {

  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header  h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;

  }

  header nav {
    justify-content: center;
  }


.page-section > h2,
.page-section > div {
flex: 0 0 100%;
}

.page-section > h2 {
  border-right: none;
  border-bottom: 4px solid var(--primary);
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 7vw;
}

}

@media screen and (max-width: 768px){
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child{
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact-details p {
    flex-direction: column;
    align-items: flex-start;
  }
}


/*
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*